* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;


}
ul,ol,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.text-pink {
    color: palevioletred;
}

.btn-primary {

    background-color: pink; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px; 
}

#btn-reserver {


    background-color: pink; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px; 
}

